@font-face {
    font-family: inter;
    src: url(../Font/Inter-Regular.ttf);
}

button{
    background: rgb(108, 214, 188);
    font-family: inter;
    padding: 13px;
    border: 1px solid rgb(108, 214, 188);
    font-weight: bold;
    border-radius: 3px;
    margin: 10px auto;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    z-index: 1;
    position: relative;
}
button:hover{
    background: rgba(108, 214, 188,0.7);
    border: 1px solid rgba(108, 214, 188,0.7);
}

h1{
    color: rgb(108, 214, 188);
    font-size: 3pc;
    position:absolute;
    z-index: 5;
    top: 20%;
}

.main aside{
    margin-top: 90%;
}

img{
    position: absolute;
}

.six{
    z-index: 0;
    margin-top: -40px;
    right: 40px;
}

.three{
    top: 17%;
    width: 20%;
}

.two{
    top: 10%;
    right: 15%;
    width: 30%;
}

.five,.one{
    display: none;
}

@media screen and (min-width:800px) {
    h1{
        font-size: 7pc;
        letter-spacing: 3px;
        top: auto;
    }
    button{
        width: auto;
    }
    .main{
        display: grid;
    }
    .six{
        top: 44%;
        left: 40%;
    }
    .five{
        top:30px;
        display: block;
        left:50%;
    }
    .three{
        top: 50px;
        left: 10%;
        width: auto;
    }
    .two{
        top: 30px;
        right: 20%;
        width: auto;
    }
    .one{
        top: 43%;
        right: 20%;
        display: block;
    }
    .main aside{
        margin-top: 35%;
    }
}